@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    max-width: 1280px;
    margin: 100;
    flex: auto;
    padding-bottom: 100px;
}
.navprincipal{
    width: 100%;
    height: 191px;
    background-color: rgb(1, 5, 45);
}
.navprincipal h1{
    color: aliceblue;
    float: right;
    margin-right: 110px;
    font-size: 40px;
    font-family: 'Roboto';
}
.navprincipal ul{
    float: left;
    margin: 10px;
    position: fixed;
    margin-top: 25px;
}
.navprincipal ul li{
    display: inline-block;
    background:white;
    height: 80px;
}
.navprincipal ul li a{
    color: rgb(15, 91, 157);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto';
    display: block;
    padding: 42px 10px;
}
.navprincipal ul li a:hover{
    background: url(../VINOSdeEUROPA/wine.png) no-repeat center;
    background-size: 100%;
}
.navprincipal .logonav{
    position: absolute;
    left: 50%;
    margin-left: 10px;
}

.caroussel{
    list-style: none;
    margin: 0;
    margin-left: -10%;
}
.caroussel li img{
    position: relative;
    width: 70%;
    height: 15%;
}
.destaque{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 238px;
    background-color: gray;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    box-shadow: 0px;
}
.destaque img{
    width: 45%;
}
.destaque h2{
    font-size: 15px;
    font-family: 'Roboto';
}
.destaque .adicionaCarrinho{
    display: block;
    position: absolute;
    width: 200px;
    padding: 15px 0;;
    color: darkred;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 0;
    text-decoration: none;


}
.footer{
    width: 100%;
    height: 40px;
    background: rgb(1, 5, 45);
    position: fixed;
    margin-bottom: 10px;

}
.footer .copy{
    padding-left: 25px;
}
.footer a{
    float: right;
    padding-right: 25px;
}
.footer .copy .footer a{
    font-size: 14px;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}